html { 
	-webkit-box-sizing: border-box; 
	        box-sizing: border-box; 
}

*,
*::before,
*::after { 
	-webkit-box-sizing: inherit; 
	        box-sizing: inherit; 
}

body {
	color: #ffffff;
	font-size: 16px;
	font-family: Roboto, Arial, sans-serif;

	background: #849d8f url("../img/slider-img/slider-1.png") no-repeat center top;
}

.inner-page {
	background: #849d8f url("../img/inner-bg.png") no-repeat;
	background-size: cover;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px; 
	height: 1px; 
	padding: 0;
	
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip: rect(1px 1px 1px 1px);
	
	overflow: hidden;
} 

a {
	color: inherit;
	text-decoration: none;
}

.hidden {
	display: none;

	color: #323232;

	-webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

	        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.btn {
	color: #ffffff;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	font-weight: 700;

	background-color: #dc4a3a;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), 
																						to(#f26843));
	background-image: -webkit-linear-gradient(bottom, #e74a35 0%, 
																						#f26843 100%);
	background-image: -o-linear-gradient(bottom, #e74a35 0%, 
																						#f26843 100%);
	background-image: linear-gradient(to top, #e74a35 0%, 
																						#f26843 100%);
	border: 0;
	border-radius: 20px;
	-webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	        box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);

	cursor: pointer;
}

.btn:hover,
.btn:focus {
	background-color: rgba(255, 255, 255, 0.2);
	background-image: -webkit-gradient(linear, left bottom, left top, from(#ec6e5d), 
																						to(#f58569));
	background-image: -webkit-linear-gradient(bottom, #ec6e5d 0%, 
																						#f58569 100%);
	background-image: -o-linear-gradient(bottom, #ec6e5d 0%, 
																						#f58569 100%);
	background-image: linear-gradient(to top, #ec6e5d 0%, 
																						#f58569 100%);
	-webkit-box-shadow: 0 2px 2px #ac1000;
	        box-shadow: 0 2px 2px #ac1000;
}

.btn:active {
	color: #fceeec;

	background-color: rgba(0, 0, 0, 0.07);
	background-image: -webkit-gradient(linear, left bottom, left top, from(#f26843), 
																						to(#e74a35));
	background-image: -webkit-linear-gradient(bottom, #f26843 0%, 
																						#e74a35 100%);
	background-image: -o-linear-gradient(bottom, #f26843 0%, 
																						#e74a35 100%);
	background-image: linear-gradient(to top, #f26843 0%, 
																						#e74a35 100%);
	-webkit-box-shadow: inset 0 2px 2px #942718;
	        box-shadow: inset 0 2px 2px #942718;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
	padding: 9px 13px 10px;

	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	vertical-align: top;
	color: #323232;
	
	background-color: #ffffff;
	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 5px;
}

input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	font-weight: 400;
}

input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	font-weight: 400;
}

input[type="text"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
textarea::-ms-input-placeholder {
	font-weight: 400;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
	font-weight: 400;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
textarea:hover {
	border: 1px solid rgba(154, 154, 154, 0.52);
	-webkit-box-shadow: inset 0 0 0 1px rgba(154, 154, 154, 0.52);
	        box-shadow: inset 0 0 0 1px rgba(154, 154, 154, 0.52);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	border: 1px solid rgba(46, 136, 228, 0.52);
	-webkit-box-shadow: inset 0 0 0 1px rgba(46, 136, 228, 0.52);
	        box-shadow: inset 0 0 0 1px rgba(46, 136, 228, 0.52);
	outline: none;
}

.main-logo,
a.login-form-link,
.breadcrumbs a,
.slider-pagination button,
.product-item img,
.product-descr a,
.news-post a,
.open-feedback-btn,
.footer-nav-list a,
.footer-copyright a {
	vertical-align: top;
}

.login-form-link,
.breadcrumbs [href],
.footer-nav-list a,
.made-in a {
	position: relative;
}

.site-nav-link::before,
.login-form-link::before,
.breadcrumbs [href]::before,
.footer-nav-list a::before,
.made-in a::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	height: 0;
	border-bottom: 1px solid currentColor;
	opacity: 0.3;
}

.site-nav li:hover .site-nav-link::before,
.site-nav li:focus .site-nav-link::before,
.current-page .site-nav-link::before {
	opacity: 0;
}

.site-nav li:focus-within .site-nav-link::before {
	opacity: 0;	
}

.wrapper {
	max-width: 1200px;
	min-width: 900px;
	margin: 0 auto;
}

.container {
	padding: 0 2.25%;
}

.main-header {
	padding-top: 9px;
}

.main-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.main-nav ul {
	list-style: none;
}

.main-nav a {
	display: block;
}

.main-logo {
	margin-right: 10px;
	width: 154px;
	height: 64px;
}

.site-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	max-width: 520px;
	margin: 14px 0 0;
	padding: 0;

	font-weight: 700;
	line-height: 18px;
}

.site-nav-catalog {
	position: relative;
}

.site-nav-link::before {
	left: 13px;
	right: 14px;
	top: 71%;
}

.site-nav-link {
	display: block;
	position: relative;

	padding: 6px 14px 8px 13px;
	margin-right: 1px;

	border-radius: 15px;
}

.site-nav-item:hover .site-nav-link,
.site-nav-item:focus .site-nav-link {
	color: #333333;

	background-color: #f7f6f3;
	border-radius: 15px;
}

.site-nav-item:focus-within .site-nav-link {
	color: #333333;

	background-color: #f7f6f3;
	border-radius: 15px;
}

.site-nav-link:active {
	color: #333333;

	background-color: #f8f7f4;
	-webkit-box-shadow: inset 0 2px 1px #696969;
	        box-shadow: inset 0 2px 1px #696969;
}

.site-nav-catalog:hover .catalog-list-wrapper,
.site-nav-catalog:focus .catalog-list-wrapper {
	display: block;
}

.site-nav-catalog:focus-within .catalog-list-wrapper {
	display: block;
}

.catalog-list-wrapper {
	position: absolute;
	top: 100%;
	z-index: 1;

	padding-top: 5px;

	-webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

	        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 143px;
	padding: 0;
	padding-bottom: 6px;

	background-color: #f8f7f4;
	border-radius: 5px;
}

.catalog-list a {
	padding: 7px 21px 8px 20px;
	margin: 0;

	color: #323232;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	
	text-decoration: none;
	border-radius: 0;
	outline: none;
}

.catalog-list [href]:hover,
.catalog-list [href]:focus {
	background-color: #fbded7;
}

.catalog-list [href]:active {
	background-color: #f6b5a5;
}

.catalog-news a {
	position: relative;

	margin-bottom: 5px;
	padding: 10px 20px 10px;

	font-weight: 700;		

	border-radius: 5px 5px 0 0;
}

.catalog-news a::before {
	content: "";
	position: absolute;
	bottom: -3px;
	left: 8px;
	right: 10px;
	
	background: #ffffff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.current-page > a {
	color: #ffffff;

	background-color: #d07058;

	text-decoration: none;
}

.user-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	max-width: 450px;
	margin-left: auto;

	font-size: 14px;
	line-height: 16px;
}

.user-nav .btn {
	color: #fefefe;
	font-size: 18px;
	line-height: 24px;

	background-color: #e84d37;
	-webkit-box-shadow: 0 1px 2px #ac1000;
	        box-shadow: 0 1px 2px #ac1000;
}

.user-nav-item {
	margin-right: 9px;
}

a.user-nav-link {
	display: block;

	font-weight: 500;

	background-color: rgba(255, 255, 255, 0.2);
}

.user-nav-link:last-child {
	margin: 0;
}

li.user-nav-item:focus .user-nav-link,
li.user-nav-item:hover .user-nav-link {
	color: #323232;

	background-color: #f8f7f4;
}

li.user-nav-item:focus-within .user-nav-link {
	color: #323232;

	background-color: #f8f7f4;
}

.user-nav-search {
	position: relative;
}

.user-nav-search-link {
	display: block;
	width: 33px;
	height: 33px;

	background: url("../img/svg/icon-loupe.svg") no-repeat center 7px;
	border-radius: 50%;
}

.user-nav-search:hover .user-nav-search-link,
.user-nav-search:focus .user-nav-search-link {
	background: url("../img/svg/icon-black-loupe.svg") no-repeat center;
}

.user-nav-search:focus-within .user-nav-search-link {
	background: url("../img/svg/icon-black-loupe.svg") no-repeat center;
}

.user-nav-search:focus .user-nav-search-wrapper,
.user-nav-search:hover .user-nav-search-wrapper {
	display: block;
}

.user-nav-search:focus-within .user-nav-search-wrapper {
	display: block;
}

.user-nav-search-wrapper {
	position: absolute;
	top: 100%;
	right: 0;

	padding-top: 5px;
}

.user-nav-search-window {
	width: 340px;
	padding: 20px 15px;

	background-color: #f8f7f4;
	border-radius: 5px;
}

.search-field {
	width: 100%;
	padding: 12px 13px 14px;

	border-radius: 5px;
}

.user-nav-login {
	position: relative;
}

.user-nav-login-link {
	position: relative;

	padding: 8px 17px 8px 44px;

	border-radius: 25px;
}

.user-nav-login-link::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;

	width: 21px;
	height: 19px;

	background: url("../img/svg/icon-entrance-white.svg") no-repeat;
}

.user-nav-login:hover .user-nav-login-link::before,
.user-nav-login:focus .user-nav-login-link::before {
	background: url("../img/svg/icon-entrance-black.svg") no-repeat;
}

.user-nav-login:focus-within .user-nav-login-link::before {
	background: url("../img/svg/icon-entrance-black.svg") no-repeat;
}

.user-nav-login:hover .user-nav-login-wrapper,
.user-nav-login:focus .user-nav-login-wrapper {
	display: block;
}

.user-nav-login:focus-within .user-nav-login-wrapper {
	display: block;
}

.user-nav-login-wrapper {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 1;

	padding-top: 5px;
}

.user-nav-login-window {
	width: 276px;
	padding: 20px 17px 22px 19px;

	background-color: #f8f7f4;
	border-radius: 5px;
}

.login-input-area {
	display: block;
	margin-bottom: 20px;
}

.login-input-area:last-of-type {
	margin-bottom: 19px;
}

input.login-input-field {
	width: 100%;
	padding-bottom: 9px;
}

.login-form-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.login-form-btn {
	padding: 11px 24px 9px;
	margin-top: 1px;

	border-radius: 20px;
}

.login-form-bottom-links {
	width: 120px;
	margin: 0;
	margin-right: 2px;
}

a.login-form-link:hover,
a.login-form-link:focus {
	color: #e84d37;
}

a.login-form-link {
	display: inline-block;
	margin-bottom: -3px;

	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	color: #323232;
}

.login-form-link::before {
	top: 75%;
}

li.user-nav-cart {
	margin-right: 0;
}

.user-nav-cart-full {
	position: relative;
}

.user-nav-cart-link {
	position: relative;

	padding: 8px 17px 8px 44px;

	border-radius: 25px;
}

.user-nav-cart-link::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;

	width: 21px;
	height: 20px;

	background: url("../img/svg/icon-basket-empty-white.svg") no-repeat;
}

.user-nav-cart-empty a:hover::before,
.user-nav-cart-empty a:focus::before {
	background: url("../img/svg/icon-basket-empty-black.svg") no-repeat;
}

.user-nav-cart-full a::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 17px;

	width: 21px;
	height: 20px;

	background: url("../img/svg/icon-basket-full.svg") no-repeat;
}

.user-nav-cart-full a {
	color: #323232;

	background-color: #f8f7f4;
}

.user-nav-cart:hover .user-nav-cart-wrapper,
.user-nav-cart:focus .user-nav-cart-wrapper {
	display: block;
}

.user-nav-cart:focus-within .user-nav-cart-wrapper {
	display: block;
}

.user-nav-cart-wrapper {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 1;

	padding-top: 10px;
}

.user-nav-cart-window {
	width: 540px;
	padding: 18px 14px 20px 16px;

	background-color: #f8f7f4;
	border-radius: 5px;
}

.user-nav-cart-window form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.cart-list {
	position: relative;
	width: 100%;
	margin-bottom: 14px;

	color: #323232;
	font-size: 13px;
	line-height: 16px;

	border-collapse: collapse;
	border-bottom: 1px solid #cacac7;
}

.cart-item:last-child td {
	padding-bottom: 16px;
}

.cart-list td {
	padding: 0 0 19px;
	margin: 0;
	vertical-align: top;
}

td.cart-delete,
td.cart-img {
	padding-right: 14px;
}

td.cart-delete,
td.cart-item-descr,
td.cart-weight,
td.cart-price {
	padding-top: 10px;
}

td.cart-img {
	padding-top: 1px;
}

.cart-delete {
	width: 25px;
}

.cart-delete button {
	position: relative;

	width: 11px;
	height: 11px;
	padding: 0;

	background: none;
	border: 0px solid #000000;
	
	cursor: pointer;
}

.cart-delete button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	
	width: 11px;
	height: 11px;

	background: url("../img/svg/cross-small.svg") no-repeat;
}
	
.cart-img {
	width: 47px;
}

.cart-img-figure {
	width: 33px;
	height: 33px;
	margin: 0;
}

.cart-img img {
	border-radius: 50%;
}

td.cart-item-descr {
	width: 247px;
	padding-right: 15px;
}

.cart-weight-price {
	width: 122px;

	color: #999999;
}

.cart-price {
	width: 68px;
}

.cart-summary {
	margin: 0 0 14px;

	font-size: 15px;
	font-weight: 700;
	line-height: 18px;
}

.cart-order-btn,
.cart-summary {
	-ms-flex-item-align: end;
	    align-self: flex-end;
}

.cart-order-btn {
	padding: 9px 14px 11px 15px;
	margin-right: 1px;
}

.header-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	margin: 0 0 2px;

	font-size: 14px;
	line-height: 16px;

	list-style: none;
}

.breadcrumbs li {
	position: relative;
	margin-right: 21px;
}

.breadcrumbs li:not(:last-child)::after {
	content: "»";
	position: absolute;
	right: -14px;
	top: 0;
}

.breadcrumbs [href]:hover,
.breadcrumbs [href]:focus {
	color: #ffbc9e;
}

.header-info {
	margin-left: auto;

	text-align: right;
	font-weight: 700;
}

.header-info-open-hours {
	margin: 0;
	margin-bottom: 4px;

	font-size: 14px;
	line-height: 16px;
}

.header-info-phone {
	margin: 0 -1px 0;

	font-size: 22px;
	line-height: 24px;

	text-decoration: none;
}

.slider {
	position: relative;

	
	margin: 275px 0 42px;
}

.slider-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.slider-item {
	display: none;
}

.slider-item-active {
	display: block;
}

.slider-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;

	font-size: 60px;
	font-weight: 700;
	line-height: 60.35px;
	text-align: center;
}

.slider-btn {
	display: block;
	width: 280px;
	padding: 9px 40px 10px 41px;
	margin: auto;

	font-size: 32px;
	line-height: 44px;

	border-radius: 40px;
}

.slider-pagination {
	position: absolute;
	bottom: 4px;
	left: 0px;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	padding: 0;

	list-style: none;
}

.slider-pagination button {
	width: 21px;
	height: 21px;
	margin-right: 8px;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;

	cursor: pointer;
}

button.slider-pagination-active {
	background-color: #ffffff;
}

.slider-pagination button:hover:not(.slider-pagination-active),
.slider-pagination button:focus:not(.slider-pagination-active) {
	background-color: rgba(248, 247, 244, 0.4);
}

.offers {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0;
	margin: 0;
	margin-bottom: 32px;
	
	font-weight: 700;

	list-style: none;
}

.offer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 48.9%;
	-ms-flex-preferred-size: 48.9%;
	    flex-basis: 48.9%;
	padding: 16px 22px 23px 19px;

	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 15px;
}

.offer-rasp {
	background-color: #c0315d;
	background-image: url("../img/bgimages/bg-rasp.jpg");
}

.offer-choco {
	background-color: #6d412a;
	background-image: url("../img/bgimages/bg-choco.jpg");
}

.offer-title {
	margin: 0;
	margin-bottom: 15px;

	font-size: 35px;
	line-height: 41px;
}

.offer-choco-title {
	margin-bottom: 14px;
}

.offer-descr {
	min-height: 66px;
	margin: 0;
	margin-left: 1px;

	font-size: 18px;
	line-height: 22px;
}

.offer-btn {
	display: inline-block;
	-ms-flex-item-align: end;
	    align-self: flex-end;
	padding: 10px 23px 12px 22px;
	margin-left: auto;
	margin-top: 23px;

	font-size: 18px;
	line-height: 24px;
	text-shadow: none;

	border-radius: 40px;
	opacity: 0.99;
}

.offer-btn:hover,
.offer-btn:focus {
	color: #fefefe;

	-webkit-box-shadow: 0 1px 2px #ac1000;

	        box-shadow: 0 1px 2px #ac1000;
}

.offer-choco-btn {
	padding: 9px 21px 12px 21px;

}

.hits-block {
	margin: 0 -1.13% -37px;
}

.hit .product-item-img-price::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;

	width: 61px;
	height: 61px;

	background: url("../img/svg/hit.svg");
}

.about-block {
	padding: 26px 2.5% 12px 20px;
	margin: 44px 0 40px;

	color: #323232;

	background: #ebe0cc url("../img/bgimages/bg-waffle.jpg") repeat -5%;
	background-size: cover;
	border-radius: 15px;
}

.about-main {
	margin: 0;
	margin-bottom: 8px;

	font-size: 24px;
	line-height: 30px;
}

.about-main strong {
	font-weight: 500;
}

.about-features {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	-ms-flex-wrap: wrap;	
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0 0 2px 58px;
	margin: 0;

	line-height: 22px;

	list-style: none;
}

.about-features li {
	position: relative;

	-ms-flex-preferred-size: 45.9%;

	    flex-basis: 45.9%;
	padding-top: 13px;
	margin-bottom: 9px;
}

@media (max-width: 900px) {
	.about-features li {
		-ms-flex-preferred-size: 46%;
		    flex-basis: 46%;
	}
}

.about-features li:nth-child(even) {
	-ms-flex-preferred-size: 45.4%;
	    flex-basis: 45.4%;
}

.about-features li::before {
	content: "";
	position: absolute;
	top: 0;
	left: -56px;

	width: 49px;
	height: 49px;

	background-repeat: no-repeat;
}

.about-features li:nth-child(even)::before {
	left: -58px;
}

.about-features li:nth-child(1)::before {
	background-image: url("../img/svg/icon-ice-cream.svg");
}

.about-features li:nth-child(2)::before {
	background-image: url("../img/svg/icon-cow.svg");
}

.about-features li:nth-child(3)::before {
	background-image: url("../img/svg/icon-eco.svg");
}

.about-features li:nth-child(4)::before {
	background-image: url("../img/svg/icon-thermometer.svg");
}

.news-subscribe-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 40px;
}

.news-block {
	-ms-flex-preferred-size: 48.9%;
	    flex-basis: 48.9%;
	max-width: 48.9%;
	padding: 23px 2% 0 19px;

	color: #323232;

	background: #ffffff url("../img/bgimages/bg-news.jpg") no-repeat top right;
	background-size: cover;
	border-radius: 15px;
}

.news-title {
	margin: 0;
	margin-bottom: 4px;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}

.news-post {
	width: 290px;
	margin: 0;

	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
}

.news-post a {
	background: -webkit-linear-gradient(bottom, transparent 2px, 
																			currentColor 2px, 
																			currentColor 4px, 
																			transparent 4px), 
							rgba(255, 255, 255, 0.8);
	background: -o-linear-gradient(bottom, transparent 2px, 
																			currentColor 2px, 
																			currentColor 4px, 
																			transparent 4px), 
							rgba(255, 255, 255, 0.8);
	background: linear-gradient(to top, transparent 2px, 
																			currentColor 2px, 
																			currentColor 4px, 
																			transparent 4px), 
							rgba(255, 255, 255, 0.8);
}

.news-post:hover a,
.news-post:focus a,
.news-post:active a {
	color: #e84d37;

	background: -webkit-linear-gradient(bottom, transparent 2px, 
																			rgba(232, 77, 55, 0.3) 2px, 
																			rgba(232, 77, 55, 0.3) 4px, 
																			transparent 4px), 
							rgba(255, 255, 255, 0.8);

	background: -o-linear-gradient(bottom, transparent 2px, 
																			rgba(232, 77, 55, 0.3) 2px, 
																			rgba(232, 77, 55, 0.3) 4px, 
																			transparent 4px), 
							rgba(255, 255, 255, 0.8);

	background: linear-gradient(to top, transparent 2px, 
																			rgba(232, 77, 55, 0.3) 2px, 
																			rgba(232, 77, 55, 0.3) 4px, 
																			transparent 4px), 
							rgba(255, 255, 255, 0.8);
}

.subscribe-block {
	max-width: 48.9%;
	-ms-flex-preferred-size: 48.9%;
	    flex-basis: 48.9%;
	padding: 5px 0.4% 5px 0.5%;

	background: -webkit-gradient(linear, left top, right bottom, color-stop(12.5%, #ffffff), 
																color-stop(12.5%, #94c9fd), color-stop(25%, #94c9fd), 
																color-stop(25%, #ffffff), color-stop(37.5%, #ffffff), 
																color-stop(37.5%, #f39288), color-stop(50%, #f39288), 
																color-stop(50%, #ffffff), color-stop(62.5%, #ffffff), 
																color-stop(62.5%, #94c9fd), color-stop(75%, #94c9fd), 
																color-stop(75%, #ffffff), color-stop(87.5%, #ffffff), 
																color-stop(87.5%, #f39288)) 
															repeat;

	background: -webkit-linear-gradient(top left, #ffffff 12.5%, 
																#94c9fd 12.5%, #94c9fd 25%, 
																#ffffff 25%, #ffffff 37.5%, 
																#f39288 37.5%, #f39288 50%, 
																#ffffff 50%, #ffffff 62.5%, 
																#94c9fd 62.5%, #94c9fd 75%, 
																#ffffff 75%, #ffffff 87.5%, 
																#f39288 87.5%) 
															repeat;

	background: -o-linear-gradient(top left, #ffffff 12.5%, 
																#94c9fd 12.5%, #94c9fd 25%, 
																#ffffff 25%, #ffffff 37.5%, 
																#f39288 37.5%, #f39288 50%, 
																#ffffff 50%, #ffffff 62.5%, 
																#94c9fd 62.5%, #94c9fd 75%, 
																#ffffff 75%, #ffffff 87.5%, 
																#f39288 87.5%) 
															repeat;

	background: linear-gradient(to bottom right, #ffffff 12.5%, 
																#94c9fd 12.5%, #94c9fd 25%, 
																#ffffff 25%, #ffffff 37.5%, 
																#f39288 37.5%, #f39288 50%, 
																#ffffff 50%, #ffffff 62.5%, 
																#94c9fd 62.5%, #94c9fd 75%, 
																#ffffff 75%, #ffffff 87.5%, 
																#f39288 87.5%) 
															repeat;
	background-size: 39px 39px;
	border-radius: 15px;
}

.subscribe-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 29px 21px 32px 21px;

	background: #ffffff;
	border-radius: 15px;
}

.subscribe-descr {
	min-height: 88px;
	margin: 0;

	line-height: 22px;
	color: #5a5a5a;
}

.subscribe-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 15px;
}

.subscribe-email-area {
	width: 100%;
	margin-top: 1px;
}

.subscribe-email-field {
	width: 100%;
	padding: 12px 13px 12px;

	border-radius: 5px;
}

.subscribe-form-btn {
	padding: 0 19px 3px;
	margin-left: 11px;

	font-size: 18px;
	line-height: 24px;
	color: #fefefe;

	background-color: #e84d37;
	border-radius: 25px;
}

.map-block {
	position: relative;
	width: 100%;
}

.google-map {
	position: absolute;
	right: 0;
	left: 0;
	z-index: 1;

	min-width: 900px;
	height: 100%;

	border: none;
}

.map-block .container {
	padding: 0 27px;
}

@media (max-width: 900px) {
	.map-block .container {
		padding: 0 20px;
	}
}

img.map-img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	width: 100%;
	height: 100%;
}

.map-block::before {
	content: "";
	position: absolute;
	top: 120px;
	left: 260px;

	width: 80px;
	height: 140px;

	background: url("../img/svg/pin.svg") no-repeat;
	background-size: 80px, 140px;
}

.map-section {
	position: relative;

	padding: 62px 0 62px;
	margin: 0;
}

.map-contacts {
	position: relative;
	z-index: 1;

	width: 302px;
	padding: 29px 24px 31px 25px;
	margin-left: auto;

	background-color: #ffffff;
	border-radius: 15px;
}

.map-info {
	margin-bottom: 24px;
}

.map-info p {
	width: 200px;
	margin: 0;
	margin-bottom: 17px;

	font-size: 14px;
	line-height: 20px;
	color: #323232;
}

.map-big-font {
	display: block;
	width: 250px;
	margin-top: 2px;

	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

.map-big-font-phone {
	margin-top: 4px;
	margin-bottom: 2px;
}

.open-feedback-btn {
	display: inline-block;
	padding: 9px 27px 11px 28px;

	font-size: 18px;
	line-height: 24px;

	border-radius: 25px;
}

.catalog-main {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-top: 2px;
}

.catalog-main::after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 2.35%;
	right: 2.35%;

	height: 1px;

	background: rgba(255, 255, 255, 0.3);
}

.main-title {
	margin: 0 0 26px;

	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
}

.filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 900px;
	margin-bottom: 16px;
}

.filter-element {
	margin-right: 14px;
	margin-bottom: 15px;

	font-weight: 500;
	line-height: 18px;
}

.filter-element-title {
	margin: 0 0 6px 16px;

	font-size: 14px;
	line-height: 16px;
}

.filter-element-substrate {
	height: 37px;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
}

.filter-sort-type {
	width: 194px;
}

.filter-sort-substrate {
	position: relative;

	padding: 9px 8px 8px 14px;

	overflow: hidden;
}

.select-arrow {
	position: absolute;
	right: 15px;
	top: 13px;

	width: 0px;
	height: 0px;

	border: 6px solid #ffffff;
	border-top-width: 10px;
	border-bottom: 0;
	border-right-color: transparent;
	border-left-color: transparent;

	pointer-events: none;
}

.sort-type:hover ~ .select-arrow,
.sort-type:focus ~ .select-arrow {
	border-color: #323232;
	border-bottom: 0;
	border-right-color: transparent;
	border-left-color: transparent;
}

.sort-type:hover,
.sort-type:focus {
	color: #323232;
}

.sort-type {
	width: 100%;

	font-weight: 500;
	line-height: 18px;
	color: #ffffff;

	background: none;
	border: none;

  text-indent: 0.01px; 
  -o-text-overflow: ""; 
     text-overflow: "";
  -webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
  appearance: none;

}

.sort-type::-ms-expand {
    display: none;
  }

.sort-type:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000000;
}

.sort-type:hover {
	cursor: pointer;
}

.sort-type option {
	color: #000000;
}

.filter-price-range {
	-ms-flex-preferred-size: 220px;
	    flex-basis: 220px;
}

.price-range-substrate {
	padding: 17px 22px 16px;
}

.price-range {
	position: relative;

	width: 100%;
	height: 4px;

	background: -webkit-gradient(linear, left top, right top, color-stop(15%, rgba(248, 247, 244, 0.5)), 
																				color-stop(15%, #f8f7f4), color-stop(67%, #f8f7f4), 
																				color-stop(67%, rgba(248, 247, 244, 0.5)));

	background: -webkit-linear-gradient(left, rgba(248, 247, 244, 0.5) 15%, 
																				#f8f7f4 15%, #f8f7f4 67%, 
																				rgba(248, 247, 244, 0.5) 67%);

	background: -o-linear-gradient(left, rgba(248, 247, 244, 0.5) 15%, 
																				#f8f7f4 15%, #f8f7f4 67%, 
																				rgba(248, 247, 244, 0.5) 67%);

	background: linear-gradient(to right, rgba(248, 247, 244, 0.5) 15%, 
																				#f8f7f4 15%, #f8f7f4 67%, 
																				rgba(248, 247, 244, 0.5) 67%);

	cursor: pointer;
}

.price-range::before,
.price-range::after {
	content: "";
	position: absolute;
	top: -9px;

	width: 25px;
	height: 25px;

	background: url("../img/svg/filter-button.svg") no-repeat;
}

.price-range::before {
	left: 8%;
}

.price-range::after {
	right: 22%;
}

.fat-content-substrate {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 7px 16px 0 14px;
}

.fat-content-radio {
	position: relative;

	padding-top: 2px;
	padding-left: 32px;
	margin-right: 18px;
}

.fat-content-radio:last-child {
	margin-right: 0;
}

.input-value::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;

	opacity: 0.8;
}

.fat-content-radio input:disabled ~ .input-value::before,
.filling-check input:disabled ~ .input-value::before {
	opacity: 0.4;
}

.fat-content-radio .input-value::before {
	width: 22px;
	height: 22px;

	background: url("../img/svg/radio-off.svg") no-repeat;
	background-size: 22px 22px;
}

input[name="fat-content-percent"]:focus ~ .input-value::before {
	-webkit-box-shadow: 0 0 5px 5px #6598cb;
	        box-shadow: 0 0 5px 5px #6598cb;
	border-radius: 50%;
}

.fat-content-radio input:checked ~ .input-value::before {
	background: url("../img/svg/radio-on.svg") no-repeat;
	background-size: 22px 22px;
}

.fat-content-radio,
.filling-check {
	cursor: pointer;
}

.fat-content-radio:hover .input-value::before,
.filling-check:hover .input-value::before {
	opacity: 1;
}

.filling-substrate {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 9px 18px 0 15px;
}

.filling-check {
	position: relative;

	padding-left: 34px;
	margin-right: 18px;
}

.filling-check:nth-child(3) {
	margin-right: 22px;
}

.filling-check:nth-child(4) {
	margin-right: 19px;
}

.filling-check:last-child {
	margin-right: 0;
}

.filling-check .input-value::before {
	top: -1px;
	left: 0px;

	width: 21px;
	height: 20px;

	background: url("../img/svg/checkbox-off.svg") no-repeat;
	background-size: 20px 20px;
}

input[name="filling"]:focus ~ .input-value::before {
	-webkit-box-shadow: -4px 0px 5px 1px #6598cb;
	        box-shadow: -4px 0px 5px 1px #6598cb;
}

input[name="filling"]:focus:checked ~ .input-value::before {
	-webkit-box-shadow: -4px 0px 5px 2px #6598cb;
	        box-shadow: -4px 0px 5px 2px #6598cb;
}

.filling-check input:checked ~ .input-value::before {
	left: 0px;

	width: 24px;
	height: 20px;

	background: url("../img/svg/checkbox-on.svg") no-repeat;
	background-size: 24px 20px;
}

.filter-btn {
	padding: 10px 29px 9px 30px;
	margin-top: 4px;


	font-weight: 500;
	line-height: 18px;
	color: #ffffff;

	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	-webkit-box-shadow: inset 0 0 0 2px #ffffff;
	        box-shadow: inset 0 0 0 2px #ffffff;
	border-radius: 20px;

	cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
	color: #323232;

	background-color: #ffffff;
}

.filter-btn:active {
	color: #323232;
	
	background-color: #ededed;
	border: none;
	-webkit-box-shadow: inset 0 2px 1px #696969;
	        box-shadow: inset 0 2px 1px #696969;
}

.inner-page .product-list {
	margin: 0 -13px 52px -12px;
}

.product-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 0;
	margin: 0;

	list-style: none;
}

.product-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 25%;
	padding: 8px 1.1% 20px;
	margin-bottom: -41px;

	border-radius: 5px;
}

.product-item:hover,
.product-item:focus {
	background-color: rgba(248, 247, 244, 0.2);
	-webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	z-index: 1;
}

.product-item:focus-within {
	background-color: rgba(248, 247, 244, 0.2);
	-webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	z-index: 1;
}

.product-item:hover .fast-view-btn,
.product-item:focus .fast-view-btn {
	visibility: visible;
}

.product-item:focus-within .fast-view-btn {
	visibility: visible;
}

.product-item-img-price {
	position: relative;

	margin-bottom: 10px;
}

.product-item-img-price a {
	display: block;
}

.product-item-img-price img {
	border-radius: 50%;
}

.product-item-img-price .price {
	position: absolute;
	bottom: 9px;
	left: -1px;

	margin: 0;

	font-size: 45px;
	font-weight: 700;
	line-height: 45px;

	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.product-item-img-price .kilo {
	position: relative;

	margin-left: 35px;

	font-size: 30px;
}

.kilo::before {
	content: "";
	position: absolute;
	bottom: 5px;
	left: -32px;

	width: 30px;
	height: 35px;

	background: url("../img/ruble.png") no-repeat;
}

.product-descr {
	max-width: 260px;
	margin: 0 auto 10px;

	font-weight: 500;
	line-height: 22px;
	text-align: center;
}

.product-descr a {
	background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.2) 1px, 
																			transparent 1px);
	background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.2) 1px, 
																			transparent 1px);
	background: linear-gradient(to top, rgba(255, 255, 255, 0.2) 1px, 
																			transparent 1px);
}

.product-descr:hover a,
.product-descr:focus a,
.product-descr:active a {
	color: #ffbc9e;

	background: -webkit-linear-gradient(bottom, rgba(255, 188, 158, 0.3) 1px, 
																			transparent 1px);

	background: -o-linear-gradient(bottom, rgba(255, 188, 158, 0.3) 1px, 
																			transparent 1px);

	background: linear-gradient(to top, rgba(255, 188, 158, 0.3) 1px, 
																			transparent 1px);
	outline: none;
}

@media (max-width: 900px) {
	.product-item-img-price {
		margin-bottom: 8px;
	}

	.product-item img {
		width: 200px;
	}

	.product-item-img-price .price {
		position: absolute;
		bottom: 17px;
		left: 0;
	}

	.product-descr {
		max-width: 185px;
	}
}

.fast-view-btn {
	visibility: hidden;
	display: block;
	width: 203px;
	padding: 10px 15px 10px 18px;
	margin: auto auto 0;

	color: #fefefe;
	font-size: 18px;
	line-height: 24px;

	background-color: #e84d37;
	-webkit-box-shadow: 0 1px 2px #ac1000;
	        box-shadow: 0 1px 2px #ac1000;
}

.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-item-align: end;
	    align-self: flex-end;
	width: 190px;
	padding: 0;
	margin: 0 0 30px;

	list-style: none;
}

.pagination a {
	display: block;
	padding: 5px 8px 3px;

	font-weight: 500;
	line-height: 18px;

	border-radius: 50%;
}

.pagination-active {
	color: #323232;

	background-color: #ffffff;
}

.pagination [href]:hover,
.pagination [href]:focus {
	background-color: rgba(255, 255, 255, 0.2);
}

.pagination button {
	width: 10px;
	height: 10px;
	padding: 0;
	margin-top: 10px;

	background: none;
	border: 2px solid rgba(255, 255, 255, 1);
	border-top-color: transparent;
	border-right-color: transparent;

	cursor: pointer;
}

.pag-prev-btn button {
	margin-right: 10px;

	-webkit-transform: rotate(45deg);

	    -ms-transform: rotate(45deg);

	        transform: rotate(45deg);
}

.pag-next-btn button {
	margin-left: 10px;

	-webkit-transform: rotate(-135deg);

	    -ms-transform: rotate(-135deg);

	        transform: rotate(-135deg);
}

.disabled-btn button {
	opacity: 0.2;
	cursor: default;
}

.main-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	padding-bottom: 26px;
	padding-top: 17px;
}

.main-footer ul {
	padding: 0;
	margin: 0;

	list-style: none;
}

.main-footer a:hover,
.main-footer a:focus {
	color: #ffbc9e;
}

.footer-social {
	padding-top: 18px;
	padding-left: 0px;
	margin-right: 40px;
}

.social-networks {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.social-btn a {
	display: block;
	width: 38px;
	height: 38px;
	margin-right: 11px;

	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;

	opacity: 0.8;
}

.social-btn a:hover,
.social-btn a:focus {
	opacity: 1;
}

.social-btn a:active {
	opacity: 0.9;
}

.social-btn-twitter a {
	background: url("../img/svg/icon-twitter.svg") no-repeat;
}

.social-btn-instagram a {
	background: url("../img/svg/icon-instagram.svg") no-repeat;
}

.social-btn-facebook a {
	background: url("../img/svg/icon-fb.svg") no-repeat;
}

.social-btn-vkontakte a {
	background: url("../img/svg/icon-vk.svg") no-repeat;
}

.footer-nav {
	width: 350px;
	padding-top: 16px;
}

.footer-nav-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	font-size: 13px;
	line-height: 18px;
}

.footer-nav-list li {
	min-width: 39%;
	margin-bottom: 4px;
	margin-right: 5px;
}

.footer-nav-special {
	position: relative;

	font-weight: 700;
}

.footer-nav-special::before {
	content: "";
	position: absolute;
	top: 3px;
	left: -22px;

	width: 15px;
	height: 13px;

	background: url("../img/svg/icon-heart.svg") no-repeat;
}

.academy-logo {
	padding-left: 2px;
	margin: 2px 0 1px -1px;
}

.made-in {
	margin: 0;

	font-size: 12px;
	line-height: 18px;
	color: #fefefe;
}

.overlay {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;

	width: 100%;
	height: 100%;

	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.5);

	overflow: auto;
}

.overlay-show {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-animation: overlay-appear 0.6s;

	        animation: overlay-appear 0.6s;
}

.modal {
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 2;

	display: none;

	overflow: hidden;
}

.modal-show {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-animation: modal-appear 0.6s forwards;

	        animation: modal-appear 0.6s forwards;
}

.modal-inner {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-ms-flex-item-align: center;
	    align-self: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 477px;
	padding: 16px 25px 27px 23px;
	margin: auto;

	background-color: #f8f7f4;
	border-radius: 10px;
}

.feedback-title {
	margin: 0;
	margin-bottom: 19px;

	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	color: #323232;
}

.feedback-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-left: 1px;
}

.feedback-input-area {
	display: block;
	margin-bottom: 20px;
}

input.feedback-input-field {
	width: 268px;
	padding-bottom: 9px;
}

.user-message-area {
	width: 100%;
	height: 155px;
	padding-top: 8px;

	border-radius: 5px;

	resize: none;
}

.feedback-textarea {
	margin-bottom: 22px;
}

.feedback-form-btn {
	-ms-flex-item-align: end;
	    align-self: flex-end;
	padding: 8px 23px 11px 23px;

	font-size: 18px;
	line-height: 24px;
	color: #fefefe;

	background-color: #e84d37;
}

.modal-close {
	position: absolute;
	top: 15px;
	right: 16px;

	width: 18px;
	height: 17px;
	
	background: url("../img/svg/cross-big.svg");
	border: 0;

	cursor: pointer;
}

.modal-error {
	-webkit-animation-name: shake;
	        animation-name: shake;
	-webkit-animation-duration: 0.6s;
	        animation-duration: 0.6s;	
}

@-webkit-keyframes shake {
	0%, 100% { -webkit-transform: translate(0); transform: translate(0); }
	10%, 30%, 50%, 70%, 90% { -webkit-transform: translate(-5px); transform: translate(-5px); }
	20%, 40%, 60%, 80% { -webkit-transform: translate(5px); transform: translate(5px); }
}

@keyframes shake {
	0%, 100% { -webkit-transform: translate(0); transform: translate(0); }
	10%, 30%, 50%, 70%, 90% { -webkit-transform: translate(-5px); transform: translate(-5px); }
	20%, 40%, 60%, 80% { -webkit-transform: translate(5px); transform: translate(5px); }
}

@-webkit-keyframes modal-appear {
	from { 
		-webkit-transform: scale(0) translate(-100%, -100%); 
		        transform: scale(0) translate(-100%, -100%);
	}

	to {  
		-webkit-transform: scale(1) translate(-50%, -50%);  
		        transform: scale(1) translate(-50%, -50%);
	}
}

@keyframes modal-appear {
	from { 
		-webkit-transform: scale(0) translate(-100%, -100%); 
		        transform: scale(0) translate(-100%, -100%);
	}

	to {  
		-webkit-transform: scale(1) translate(-50%, -50%);  
		        transform: scale(1) translate(-50%, -50%);
	}
}

@-webkit-keyframes overlay-appear {
	from { background: none; }
	to { background-color: rgba(0, 0, 0, 0.5); }
}

@keyframes overlay-appear {
	from { background: none; }
	to { background-color: rgba(0, 0, 0, 0.5); }
}